<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
    <typeAliases>
        <typeAlias alias="cliente" type="pe.com.gesatepedws.model.Cliente" />
        <typeAlias alias="pedido" type="pe.com.gesatepedws.model.Pedido" />
        <typeAlias alias="detallePedido" type="pe.com.gesatepedws.model.DetallePedido" />
        <typeAlias alias="producto" type="pe.com.gesatepedws.model.Producto" />
        <typeAlias alias="bodega" type="pe.com.gesatepedws.model.Bodega" />
        <typeAlias alias="tienda" type="pe.com.gesatepedws.model.Tienda" />
        <typeAlias alias="kardex" type="pe.com.gesatepedws.model.Kardex" />
        <typeAlias alias="distrito" type="pe.com.gesatepedws.model.Distrito" />
        <typeAlias alias="departamento" type="pe.com.gesatepedws.model.Departamento" />
        <typeAlias alias="parametro" type="pe.com.gesatepedws.model.Parametro" />
        <typeAlias alias="ruta" type="pe.com.gesatepedws.model.Ruta" />
        <typeAlias alias="chofer" type="pe.com.gesatepedws.model.Chofer" />
        <typeAlias alias="motivo" type="pe.com.gesatepedws.model.MotivoPedido" />
        <typeAlias alias="detalleRuta" type="pe.com.gesatepedws.model.DetalleRuta" />
        <typeAlias alias="detalleRutaParam" type="pe.com.gesatepedws.model.extend.DetalleRutaParam" />
        <typeAlias alias="estadoPedido" type="pe.com.gesatepedws.model.extend.EstadoPedido" />
        <typeAlias alias="estadoPedidoParam" type="pe.com.gesatepedws.model.extend.EstadoPedidoParam" />
    </typeAliases>
    
    <!-- <typeHandlers>
	</typeHandlers> -->
	
    <mappers>
        <mapper resource="pe/com/gesatepedws/mapper/Ruta.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Pedido.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Cliente.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Producto.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Bodega.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Distrito.xml" />
        <mapper resource="pe/com/gesatepedws/mapper/Tienda.xml" />
    </mappers>
</configuration>